@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>
<p>
    <a class="btn btn-success" asp-action="CreateRole">Create</a>
</p>
<div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>
                    Role ID
                </th>
                <th>
                    Name
                </th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="EditRole" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="DeleteRole" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
